<%- include('../partials/header') %>
<section id="show-page">
    <div>Date: </div>
    <div><%= schedule.date %></div>
    <div>Instructor: </div>
    <div><%= schedule.instructor %></div>
    <div>Student: </div>
    <div> <img class="schedule-avatar" height="50" src="<%= schedule.addedBy %>"></div>
    <div><%= schedule.addedBy %></div>
    <!-- start aircraft list -->
    <div>Aircraft:</div>
    <ul>
        <li>
            <%= schedule.aircraft%>
        </li>
    </ul>
    <!-- end aircraft list -->
</section>
<!-- add to aircraft form below this comment -->
<form id="add-loc-to-destination" action="/schedules/<%= schedule._id %>/aircrafts" method="POST">
    <select name="aircrafts">
        <%- aircrafts.map(a =>
          `<option value="${a._id}">${a.aircraft}</option>`
        ).join('') %>
    </select>
    <button class="button" type="submit">Add to Aircraft</button>
</form>
</section>

<%- include('../partials/footer') %>