<%- include('../partials/header') %>
<section id="show-page">
    <div>Date: </div>
    <div><%= schedule.date %></div>
    <div>Instructor: </div>
    <div><%= schedule.instructor %></div>
    <div>Student: </div>
    <div><img class="schedule-avatar" height="50" src="<%= schedule.avatar %>"></div>
    <div><%= schedule.addedBy %></div>
    <!-- start aircraft list -->
    <div>Aircraft:</div>
    <ul>
        <li>
            <%= schedule.aircraft.name%>
        </li>
    </ul>
    <!-- end aircraft list -->
</section>
<!-- add to aircraft form below this comment -->
<form id="add-loc-to-destination" action="/schedules/<%= schedule._id %>?_method=PUT" method="POST">
    <select name="aircraft">
        <%- aircraft.map(a =>
          `<option value="${a._id}">${a.name}</option>`
        ).join('') %>
    </select>
    <button class="button" type="submit">Add to Aircraft</button>
</form>


<%- include('../partials/footer') %>