<%- include('../partials/header') %>
    <section id="show-page">
        <div>Date: </div>
        <div>
            <%= schedule.date %>
        </div>
        </br>
        <div>Instructor: </div>
        <div>
            <%= schedule.instructor %>
        </div>
        </br>
        <div>Student: </div>
        <div><img class="schedule-avatar" height="50" src="<%= schedule.avatar %>"></div>
        </br>
        <div>
            <%= schedule.addedBy %>
        </div>
        </br>

        <div>Aircraft:</div>
        <div>
            <%= schedule.aircraft.name%>
        </div>
        </br>

    </section>

    <form id="add-aircraft" action="/schedules/<%= schedule._id %>?_method=PUT" method="POST">
        <select name="aircraft">
            <%- aircraft.map(a=>
                `<option value="${a._id}">${a.name}</option>`
                ).join('') %>
        </select>
        <button class="button" type="submit">Add to Aircraft</button>
    </form>


    <%- include('../partials/footer') %>