<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Aircraft</h2>
    </br>
    <section>
        <img height="75" src="<%= aircraft.avatar ? aircraft.avatar : 'http://theoldreader.com/kittens/300/300/' %>">
        <form action="/aircrafts/<%= aircraft._id%>?
            _method=PUT" method="POST" >

        <div>Name of Aircraft:</div>
        <div><%= aircraft.name %></div>
        </br>
        <div>Multi Engine ?:</div>
        <div><%= aircraft.multiEngine %></div>
    </br>
        <Label>Edit Name of Aircraft:</Label>
        <input type="text" name="name" value="<%= aircraft.name  %> ">
        <label>multiEngine ?:</label>
        <input type="checkbox" name='multiEngine' <%= aircraft.multiEngine === "on"? 'Multi Engine' : 'Single Engine' %>>
        <button type='submit'>Update</button>
    </form>
    </section>
    
    </form>
    </br>
    <a href="schedules/new" role="button">Schedule this Plane</a>
</body>

</html>